version: "3"
services:
  nginx:
    build:
      context: ./nginx
      dockerfile: swarm/Dockerfile
    ports:
      - 80:80
  node:
    build: ./node
    ports:
      - 3000:3000
  redis:
    image: redis
    ports:
      - 6379:6379